extends layout

block content
	.container
		.header
			.jumbotron
				h1 wholeHouse
				p.lead One app to manage your wholeHouse
				p.lead that combines your most used apps and utilities
				p.lead that's automatically in sync across all your devices
				p.lead that's shared with your friends and family
				p.lead and is hosted on your own private cloud 
			.row.marketing
				.col-md-4
					a(href='/what', title='What is wholeHouse?')
						h4 What is wholeHouse?
					p Learn all about wholeHouse
				.col-md-4
					a(href='/who', title='Who is wholeHouse?')
						h4 Who is wholeHouse?
					p Who we are and why we're building it.
				.col-md-4
					a(href='/invest', title='Like what you see?')
						h4 Like what you see?
					p Let's chat. 
