extends layout

block content
	.container
		.row
			h3 If you're like us and you
			p don't understand why it has to be so hard to set up an email account on your phone.
			p wish you didn't have 4 different ways to chat with someone.
			p wonder why your phone doesn't know anything about your tablet, or desktop, or work computer, much less your kids' schedule.
			p wish you didn't have to get someone to help you set up (or be the one that gets asked) a new device.
			p think the world would be a better place with better use of technology,

			a(href='mailto:willharrison@gmail.com') contact us
			, we're building wholeHouse.