extends layout

block content
	.container
		.row

			h2 One app to rule them all
			p wholeHouse combines user information, notifications, location, time, and lists - and connects them all in an seamless, intuitive experience.

			p wholeHouse will make sense of your life by connecting your data together. 


			h2 One platform for all devices.
			p wholeHouse is a central server that all of your devices view in real time. 

			p Now, your phone, tablet, computer, and eventually TV, alarm clock, car... are in sync - all the time, without you having to think about it.


			h2 It lives on your own private cloud.
			p We can host a very inexpensive, private, secure virtual machine.

			p Or you can host it yourself.

			p The data is yours, we can help you make sense of it, but we don't want it.


			h2 Open source, with an app store built in.
			p People who care about the project can contribute new and useful ways to interact with wH.

			p wholeHouse can focus on building a beautiful, extensible planform that's a pleasure to use.

			p People can dream up ways to use wH that make their lives easier.
