extends layout

block content
	.container
		.row
			h2 d@nfin.ch

			h2 willHarrison
			p I've been on the losing end of software with terrible user experience. I invent on the principle that a sub-optimal user experience is unacceptable. If it's not a pleasure to use, then why bother making it?

			h2 Core principles
			h4 These are a few of the core principles that drive our decisions

			p We believe that computers should be labor saving devices, they're almost always labor creating devices.
			p Cherish the inventiveness of the people you work with. Hire thinkers and pay them to think.
			p wholeHouse should eliminate waste, including wasted actions.
			p wholeHouse must have the lowest barrier to entry possible. 
